__pycache__/
*.py[cod]
*$py.class
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

.idea
*.iml
app/main/local_settings.py
app/static
app/.build
/.helm/charts
/.helm/requirements.lock
*.DS_Store
